*{
  box-sizing: border-box;
}
body{
  background-color: #F5F5F5;
  margin: 0 auto;
}
header{
  margin: 0 auto;
  background-color: #F5F5F5;
  height: 100px;
  font-family: 'Orbitron', sans-serif;
  h1{
    margin: 0 auto;
    text-align: center;
    font-size: 38px;
    line-height: 100px;
    color: #51710A;
  }
}
main{
  margin: 0 auto;
  max-width: 700px;
  height: 500px;
  border: 2px solid #424242;
  .welcome, .instructions, .character-screen, .chosen-character, .game-window, .game-over{
    margin: 45px auto;
    width: 500px;
    height: 400px;
    h2, p, button, label{
      text-align: center;
      font-family: 'Jura', sans-serif;
      color: #424242;
    }
    h2{
      font-size: 30px;
    }
    p{
      font-size: 14px;
    }
    button, label, input{
      margin: 20px auto;
      display: block;
      font-size: 14px;
      padding: 5px 20px;
      border: 2px solid #204215;
      border-radius: 5px;
    }
    label{
      border: none;
    }
    button:hover{
      background-color: #C5D200;
    }
    .choices{
      width: 400px;
      height: 270px;
      margin: 0 auto;
      border: 2px solid #204215;
      .character{
        width: 100px;
        height: 100px;
        display: inline-block;
        margin: 14px;
        img{
          max-width: 90px;
        }
      }
      .active{
        border: 5px solid #204215;
      }
    }
  }
  .chosen-character{
    img{
      max-width: 150px;
      position: relative;
      left: 35%;
    }
  }
  .game-window{
    margin: 45px auto;
    width: 700px;
    height: 460px;
    button{
      display: inline-block;
      margin: 10px 0 0 107px;
    }
    img{
      max-width: 150px;
    }
    .players-display{
      height: 180px;
      display: block;
      p{
        line-height: 15px;
        margin-top: 5px;
        font-size: 14px;
      }
      .player-section{
        line-height: 10px;
        float: left;
        width: 40%;
        .img-active{
          border: 10px solid #206B15;
        }
        img{
          float: left;
          margin-left: 20px;
        }
      }
      .villian-section{
        float: right;
        width: 40%;
        img{
          float: right;
          margin-right: 20px;
        }
      }
    }
  }
}
.hidden{
  display: none;
}
@media only screen and (max-width: 667px) {
  header{
    display: none;
  }
  main{
    margin: 5px auto;
    max-width: 500px;
    height: 350px;
    .welcome, .instructions, .character-screen, .chosen-character, .game-window, .game-over{
      margin: 5px auto;
      width: 500px;
      height: 350px;
      img{
        max-width: 80px;
      }
      h2{
        margin-top: 30px;
        font-size: 20px;
      }
      p{
        font-size: 12px;
      }
      button{
        font-size: 12px;
        padding: 5px 10px;
      }
    }
    .instructions{
      p{
        margin: 40px;
      }
    }
    .character-screen{
      height: 400px;
      .choices{
        border: none;
        p{
          font-size: 10px;
        }
      }
      h2{
        margin-top: 20px;
      }
      button{
        position: relative;
        bottom: 60px;
      }
    }
    .chosen-character{
      img{
        max-width: 100px;
        position: relative;
        left: 40%;
      }
    }
    .game-window{
      button{
        display: inline-block;
        margin-left: 80px;
      }
      h2{
        margin-top: 10px;
      }
      img{
        max-width: 100px;
        margin-top: 10px;
      }
      .players-display{
        p{
          margin-top: 10px;
          line-height: 12px;
          font-size: 10px;
        }
      }
    }
  }
}
