*{
  box-sizing: border-box;
}
body{
  background-color: #fafafa;
  margin: 0 auto;
}
header{
  margin: 0 auto;
  background-color: #fafafa;
  height: 150px;
  font-family: 'Orbitron', sans-serif;
  h1{
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    line-height: 150px;
  }
}
main{
  margin: 0 auto;
  max-width: 900px;
  height: 600px;
  border: 2px solid black;
  .welcome, .instructions, .character, .chosen-character, .game-window{
    margin: 45px auto;
    width: 500px;
    height: 500px;
    h2, p, button, label{
      text-align: center;
      font-family: 'Jura', sans-serif;
    }
    h2{
      font-size: 40px;
    }
    p{
      font-size: 20px;
    }
    button, label, input{
      margin: 20px auto;
      display: block;
      font-size: 20px;
      padding: 5px 20px;
      border: 2px solid black;
      border-radius: 5px;
    }
    label{
      border: none;
    }
    button:hover{
      background-color: #fff;
    }
    .choices{
      width: 400px;
      height: 200px;
      margin: 0 auto;
      border: 2px solid black;
      .person{
        width: 100px;
        height: 100px;
        display: inline-block;
        margin: 14px;
        img{
          max-width: 90px;
        }
      }
      .active{
        border: 5px solid #000;
      }
    }
  }
  .chosen-character{
    img{
      max-width: 200px;
      position: relative;
      left: 30%;
    }
  }
  .game-window{
    margin: 45px auto;
    width: 800px;
    height: 500px;
    button{
      display: inline-block;
      margin-left: 120px;
    }
    img{
      max-width: 150px;
      margin-left: 55px;
    }
    .players-display{
      height: 300px;
      .player-corner{
        float: left;
        width: 33%;
        img{
        }
      }
      .villian-corner{
        float: right;
        width: 33%;
      }
      .winner{
        font-size: 30px;
        color: red;
      }
    }
  }
}
.hidden{
  display: none;
}
