*{
  box-sizing: border-box;
}
body{
  background-color: #F5F5F5;
  margin: 0 auto;
}
header{
  height: 100px;
  font-family: 'Orbitron', sans-serif;
  h1{
    margin: 0 auto;
    text-align: center;
    font-size: 38px;
    line-height: 100px;
    color: #51710A;
  }
}
main{
  margin: 0 auto;
  max-width: 700px;
  height: 500px;
  border: 2px solid #424242;
  border-radius: 7px;
  .welcome, .instructions, .character-screen, .chosen-character, .game-window, .game-over{
    margin: 45px auto;
    width: 500px;
    height: 400px;
    h2, p, button, label, ul, li{
      text-align: center;
      font-family: 'Jura', sans-serif;
      color: #424242;
    }
    h2{
      font-size: 30px;
    }
    p{
      font-size: 14px;
    }
    button, label, input{
      margin: 20px auto;
      display: block;
      font-size: 14px;
      padding: 5px 20px;
      border: 5px double #204215;
      border-radius: 5px;
    }
    label{
      border: none;
    }
    button:hover{
      background-color: #C5D200;
    }
    .choices{
      width: 400px;
      height: 280px;
      margin: 0 auto;
      border: 2px solid #204215;
      border-radius: 5px;
      .character{
        width: 100px;
        height: 100px;
        display: inline-block;
        margin: 14px;
        img{
          max-width: 90px;
        }
        .underlined{
          text-decoration: underline;
          font-weight: 600;
        }
      }
      .active{
        border: 5px double #204215;
        border-radius: 5px;
      }
    }
  }
  .instructions{
    h2{
      font-size: 36px;
    }
    p{
      font-size: 18px;
    }
  }
  .chosen-character{
    form, button{
      position: relative;
      top: 30px;
    }
    .hexagon {
      position: relative;
      left: 35%;
      top: 20px;
      width: 150px;
      height: 86.60px;
      margin: 43.30px 0;
      background-image: url('');
      background-size: auto 161.6581px;
      background-position: center;
      border-left: double 5px #333333;
      border-right: double 5px #333333;
    }
    .hexTop,
    .hexBottom {
      position: absolute;
      z-index: 1;
      width: 106.07px;
      height: 106.07px;
      overflow: hidden;
      -webkit-transform: scaleY(0.5774) rotate(-45deg);
      -ms-transform: scaleY(0.5774) rotate(-45deg);
      transform: scaleY(0.5774) rotate(-45deg);
      background: inherit;
      left: 16.97px;
    }
    /*counter transform the bg image on the caps*/
    .hexTop:after,
    .hexBottom:after {
      content: "";
      position: absolute;
      width: 140.0000px;
      height: 80.82903768654762px;
      -webkit-transform:  rotate(45deg) scaleY(1.7321) translateY(-40.4145px);
      -ms-transform:      rotate(45deg) scaleY(1.7321) translateY(-40.4145px);
      transform:          rotate(45deg) scaleY(1.7321) translateY(-40.4145px);
      -webkit-transform-origin: 0 0;
      -ms-transform-origin: 0 0;
      transform-origin: 0 0;
      background: inherit;
    }
    .hexTop {
      top: -53.0330px;
      border-top: double 7.0711px #333333;
      border-right: double 7.0711px #333333;
    }
    .hexTop:after {
      background-position: center top;
    }
    .hexBottom {
      bottom: -53.0330px;
      border-bottom: double 7.0711px #333333;
      border-left: double 7.0711px #333333;
    }
    .hexBottom:after {
      background-position: center bottom;
    }
    .hexagon:after {
      content: "";
      position: absolute;
      top: 2.8868px;
      left: 0;
      width: 140.0000px;
      height: 80.8290px;
      z-index: 2;
      background: inherit;
    }
  }
  .game-window{
    margin: 45px auto;
    width: 700px;
    height: 460px;
    button{
      display: inline-block;
      margin: 10px 0 20px 95px;
    }
    img{
      max-width: 150px;
      border-radius: 5%;
    }
    .players-display{
      height: 180px;
      display: block;
      p{
        line-height: 15px;
        margin-top: 5px;
        font-size: 14px;
      }
      .player-section{
        line-height: 10px;
        float: left;
        width: 40%;
        .img-active{
          border: 10px double #206B15;
        }
        img{
          float: left;
          margin-left: 20px;
        }
      }
      .villian-section{
        float: right;
        width: 40%;
        img{
          float: right;
          margin-right: 20px;
        }
      }
    }
    ul{
      margin-top: 30px;
      li{
        display: inline;
        padding: 60px;
      }
    }
  }
  .hidden{
    display: none;
  }
}
@media only screen and (max-width: 700px) {
  header{
    display: none;
  }
  main{
    margin: 5px auto;
    max-width: 500px;
    height: 350px;
    .welcome, .instructions, .character-screen, .chosen-character, .game-window, .game-over{
      margin: 5px auto;
      width: 500px;
      height: 350px;
      img{
        max-width: 70px;
      }
      h2{
        margin-top: 30px;
        font-size: 20px;
      }
      p{
        font-size: 12px;
      }
      button{
        font-size: 12px;
        padding: 5px 10px;
      }
    }
    .instructions{
      p{
        margin: 40px;
      }
    }
    .character-screen{
      height: 400px;
      h2{
        margin-top: 10px;
      }
      .choices{
        border: none;
        p{
          font-size: 10px;
        }
      }
      button{
        position: relative;
        bottom: 70px;
      }
    }
    .chosen-character{
      img{
        max-width: 100px;
        position: relative;
        left: 40%;
      }
      form{
        width: 320px;
      }
      label, input{
        display: inline;
      }
      button{
        display: block;
        position: relative;
        top: -46px;
        left: 150px;
      }
    }
    .game-window{
      button{
        display: inline-block;
        margin-left: 65px;
      }
      h2{
        margin-top: 10px;
      }
      img{
        max-width: 100px;
        margin-top: 10px;
      }
      .players-display{
        height: 150px;
        p{
          margin-top: 10px;
          line-height: 12px;
          font-size: 10px;
        }
      }
      ul{
        margin-top: -10px;
        li{
          display: inline;
          padding: 30px;
        }
      }
    }
  }
}
